<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDWebImageAnalyze.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1EA4ED31DB4B1EA00E0D7E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1EA4EEC1DB4B1EA00E0D7E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1EA4EF71DB4B1EA00E0D7E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
